.booking_container {
    margin-top: 30px;
}


.title_bookings {
    border: 10px solid #e44587;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    }

.button-shopping {
    
}

.card-product {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .card-product img {
    height: 100%;
    width: 120px;
    background-size: auto;
  }
  
  .card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .card-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  
  .card-product .card-product-infos {
    margin-right: 150px;
    width: 400px;
    padding-bottom: 10px;


  }
  
  .card-product .card-product-infos-dates {
    margin-right: 150px;
    width: 200px;
    padding-bottom: 10px;
}

.card-product .card-product-infos-price{
    margin-right: 150px;
    width: 200px;
    padding-bottom: 10px;
}

