  <!-- code a Hero / Banner section -->
  <div class="banner" style="background-image: url(https://images.unsplash.com/photo-1540221652346-e5dd6b50f3e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80);">
    <div class="container">
      <h1>My Closet, your dream dressing room!</h1>
      <p>Save you time and money, book your outfit of the day !.</p>
      <div class="btn-primary">
       <%= link_to 'Browse outifts', outfits_path %>
       </div>
    </div>
  </div>

  <!-- code a footer -->
  <div class="footer">
    <div class="links">
      <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-fw fa-github"></i></a>
      <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
      <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
      <p>We <i class="fas fa-heart"></i> your unused clothes.</p>

    </div>
  </div>

