.btn-primary {
  width: max-content;
  display: inline-block;
  background-color: #e44486;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
  border: none;
  a {
    color: white;
    text-decoration: none;
  }

  &:hover, &:active {
    background-color: white;
    a {
      color: #e44486;
    }
  }
}

.btn-secondary {
  width: max-content;
  border: 1px solid #e44486;
  padding: 8px 16px;
  border-radius: 50px;
  color: #e44486;
}
