.footer {
  text-align: center;
  padding: 60px;
  background-color: rgb(30,30,30);

   a {
  font-size: 30px;
  color:  #e44486;
  margin: 0 2px;
  }
  p {
  color: #6B6C6C;
  }

  .fas {
  color: #BF0F12;
  }
}
