.footer {
  text-align: center;
  padding: 60px;
  background-color: rgb(30,30,30);
}

.footer a {
  font-size: 30px;
  color:  #e44486;
  margin: 0 2px;
}

.footer p {
  color: #6B6C6C;
}

.footer .fas {
  color: #BF0F12;
}
